# Preprocessing using pandas

In [28]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [33]:
airport_data = pd.read_csv("airports.csv",sep=",")
airport_freq = pd.read_csv("airport-frequencies.csv",sep=",")
runways = pd.read_csv("runways.csv",sep=",")

In [43]:
## dtypes
airport_data.dtypes

id                     int64
ident                 object
type                  object
name                  object
latitude_deg         float64
longitude_deg        float64
elevation_ft         float64
continent             object
iso_country           object
iso_region            object
municipality          object
scheduled_service     object
gps_code              object
iata_code             object
local_code            object
home_link             object
wikipedia_link        object
keywords              object
dtype: object

### Column name and size

In [54]:

print(airport_data.columns)
airport_data.shape

Index(['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg',
       'elevation_ft', 'continent', 'iso_country', 'iso_region',
       'municipality', 'scheduled_service', 'gps_code', 'iata_code',
       'local_code', 'home_link', 'wikipedia_link', 'keywords'],
      dtype='object')

(66533, 18)

In [34]:
## Top 5
airport_data.head(5)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [35]:
## Tail 
airport_data.tail(5)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
66528,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang",no,ZYYY,NaN,NaN,NaN,NaN,NaN
66529,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
66530,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
66531,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,ZZZW,ZYW,YK96,NaN,NaN,NaN
66532,313629,ZZZZ,small_airport,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

In [38]:
## Get unique records
airport_data['ident'].unique()

array(['00A', '00AA', '00AK', ..., 'ZZ-0002', 'ZZZW', 'ZZZZ'],
      dtype=object)

### Filtering data

In [40]:
## Filter data based on any field value
airport_data[airport_data.ident == '00AK']

## after filter, select specify columns
airport_data[airport_data['ident'] == '00AK'][['ident','type']]

  ident           type
2  00AK  small_airport

In [42]:
## Muliptle filter conditons
airport_data[(airport_data['iso_region'] == 'US-CA') & (airport_data['type'] == 'seaplane_base')][['id','ident']]

           id    ident
1007     7436      0O0
2557     8877     22CA
6409    12298     5CA9
14677   16514      C39
17110   16830     CN20
19567   17157      E20
25417   17613      H77
36038   21444      L11
43387   23479      O06
47645   24384      S74
55610  300312      TWH
59918  342286  US-3338
60036  342600  US-3456

### Ordering the records

In [45]:
## Order records by single and multiple columns
airport_data.sort_values(by = 'type',ascending=True).head(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1366,7767,12JY,balloonport,Clinton Elks Lodge Balloonport,40.604198,-74.920799,37.0,NaN,US,US-NJ,Pittstown,no,12JY,NaN,12JY,NaN,NaN,NaN
23261,322152,FR-0354,balloonport,C√©rizols Balloonport,43.128889,1.069444,1312.0,EU,FR,FR-OCC,C√©rizols,no,NaN,NaN,LF0926,http://www.ballon-bleu-horizon.fr/,NaN,NaN
24751,332718,GB-0682,balloonport,Lydiard Park,51.561725,-1.851930,NaN,EU,GB,GB-ENG,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
airport_data.sort_values(by = ['type','id'], ascending=[True,False]).head(5)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
19276,343923,DE-0448,balloonport,Freiballon-Startplatz K√∂ln-S√ºlz,50.91305,6.89627,NaN,EU,DE,DE-NW,K√∂ln-S√ºlz,no,NaN,NaN,NaN,NaN,NaN,NaN
60209,343066,US-3629,balloonport,Balloon Fiesta Park,35.19652,-106.59717,5075.0,NaN,US,US-NM,Albuquerque,no,NaN,NaN,NaN,NaN,NaN,NaN
59218,339097,US-2641,balloonport,Characters in Flight Balloonport,28.37096,-81.51947,NaN,NaN,US,US-FL,Lake Buena Vista,no,NaN,NaN,NaN,NaN,NaN,NaN
59042,338804,US-2465,balloonport,Marfa TARS Site,30.43440,-104.32061,4701.0,NaN,US,US-TX,Shafter,no,NaN,NaN,NaN,NaN,NaN,NaN
59041,338803,US-2464,balloonport,Yuma TARS Site,33.01587,-114.24328,991.0,NaN,US,US-AZ,Yuma,no,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
## Filter with and without  records
airport_data[airport_data['type'].isin(['heliport','closed'])].head(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
9,322658,00CN,heliport,Kitchen Creek Helibase Heliport,32.727374,-116.459742,3350.0,NaN,US,US-CA,Pine Valley,no,00CN,NaN,00CN,NaN,NaN,NaN

In [53]:
airport_data[~airport_data['type'].isin(['heliport','closed'])].tail(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
66528,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang",no,ZYYY,NaN,NaN,NaN,NaN,NaN
66530,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
66532,313629,ZZZZ,small_airport,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

### Group By columns

In [56]:
## Group by and count
airport_data.groupby(by=['iso_country']).size()

iso_country
AD      3
AE    116
AF     74
AG      4
AI      2
     ...
YT      1
ZA    579
ZM    103
ZW    144
ZZ      1
Length: 244, dtype: int64

In [71]:
airport_data.groupby(by=['iso_country', 'type'],as_index=False).mean()

,iso_country,type,id,latitude_deg,longitude_deg,elevation_ft
0,AD,closed,338490.000000,42.544983,1.452258,NaN
1,AD,heliport,180038.000000,42.528716,1.526356,3450.000000
2,AE,closed,191966.000000,23.877003,54.305791,NaN
3,AE,heliport,331885.291139,24.757006,54.958069,242.000000
4,AE,large_airport,79005.000000,24.980380,55.173677,93.750000
...,...,...,...,...,...,...
916,ZW,heliport,345912.000000,-18.925900,30.274200,NaN
917,ZW,large_airport,3005.000000,-17.931801,31.092800,4887.000000
918,ZW,medium_airport,3007.250000,-18.899338,29.355876,3343.000000
919,ZW,small_airport,160582.488550,-18.451004,29.665559,3082.880435
920,ZZ,heliport,342305.000000,-48.526000,-123.236000,1.000000

In [75]:
airport_data.groupby(['iso_country', 'type']).size().to_frame("countData").reset_index().sort_values(by = ['type'],ascending=True)

    iso_country           type  countData
855          US    balloonport         29
76           BE    balloonport          1
215          DE    balloonport          2
291          FR    balloonport          1
36           AR    balloonport          1
..          ...            ...        ...
105          BN  small_airport          1
661          PH  small_airport        135
655          PG  small_airport        507
190          CO  small_airport        594
592          MY  small_airport         70

[921 rows x 3 columns]

In [83]:
airport_data.groupby(by=['type']).filter(lambda x : len(x) > 1000).groupby('type').size().sort_values(ascending = False)

type
small_airport     36884
heliport          15962
closed             7412
medium_airport     4517
seaplane_base      1068
dtype: int64

In [88]:
## Get top or least count records
airport_data.groupby('iso_country').size().to_frame('count').nlargest(5,columns ='count')

             count
iso_country
US           26839
BR            5877
CA            2846
JP            2552
AU            2054

In [89]:
### next 5 records after top 5 
airport_data.groupby('iso_country').size().to_frame('count').nlargest(10,columns ='count').tail(5)

             count
iso_country
MX            1813
KR            1378
GB            1326
RU            1323
DE             974

In [92]:
runways.columns

Index(['id', 'airport_ref', 'airport_ident', 'length_ft', 'width_ft',
       'surface', 'lighted', 'closed', 'le_ident', 'le_latitude_deg',
       'le_longitude_deg', 'le_elevation_ft', 'le_heading_degT',
       'le_displaced_threshold_ft', 'he_ident', 'he_latitude_deg',
       'he_longitude_deg', 'he_elevation_ft', 'he_heading_degT',
       'he_displaced_threshold_ft'],
      dtype='object')

### Aggregate Functions

In [96]:
### Aggregate Functions
runways.agg({'length_ft' : ['mean','median','min','max','std']}).T

                  mean  median  min       max          std
length_ft  3250.841571  2703.0  0.0  120000.0  2736.981801

In [100]:
## to do on all numeric columns
runways.describe().T
## To include all columns
runways.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,42365,NaN,NaN,NaN,258806,23956.4,232758,243362,253959,264566,346431
airport_ref,42365,NaN,NaN,NaN,38521,76825.9,2,8715,18970,27914,346430
airport_ident,42364,35782,KORD,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
length_ft,42164,NaN,NaN,NaN,3250.84,2736.98,0,1650,2703,4200,120000
width_ft,39699,NaN,NaN,NaN,110.287,232.277,0,59,75,100,9000
surface,42040,573,ASP,10921,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lighted,42365,NaN,NaN,NaN,0.259648,0.438447,0,0,0,1,1
closed,42365,NaN,NaN,NaN,0.016169,0.126127,0,0,0,0,1
le_ident,42244,253,H1,5930,NaN,NaN,NaN,NaN,NaN,NaN,NaN
le_latitude_deg,14630,NaN,NaN,NaN,31.1648,23.0273,-75.5972,28.7984,37.566,44.257,82.5128
le_longitude_deg,14623,NaN,NaN,NaN,-40.2254,79.7726,-178.303,-96.6226,-80.2991,15.3315,179.337
le_elevation_ft,12428,NaN,NaN,NaN,1060.4,1463.65,-1246,116,573,1250,13202
le_heading_degT,14343,NaN,NaN,NaN,104.36,57.3237,0,57,98.2,148.05,360
le_displaced_threshold_ft,2840,NaN,NaN,NaN,532.989,470.838,1,226.75,400,680.25,6365
he_ident,36106,227,36,3401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
he_latitude_deg,14597,NaN,NaN,NaN,31.1493,23.0397,-75.5954,28.77,37.568,44.2651,82.5228
he_longitude_deg,14599,NaN,NaN,NaN,-40.1744,79.7663,-178.292,-96.6191,-80.2748,15.3755,179.343
he_elevation_ft,12293,NaN,NaN,NaN,1055.42,1456.92,-1210,116,568,1241,13314
he_heading_degT,16153,NaN,NaN,NaN,261.834,78.3889,0,226,270,316,363
he_displaced_threshold_ft,3148,NaN,NaN,NaN,534.487,463.789,9,228.75,400,694,5001

### Joins

In [110]:
### Joins
airport_freq.merge(right= airport_data,left_on='airport_ref', right_on= 'id', how = 'inner').head(3)

,id_x,airport_ref,airport_ident,type_x,description,frequency_mhz,id_y,ident,type_y,name,...,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,70518,6528,00CA,CTAF,CTAF,122.9,6528,00CA,small_airport,Goldstone (GTS) Airport,...,US,US-CA,Barstow,no,00CA,NaN,00CA,NaN,NaN,NaN
1,307581,6589,01FL,ARCAL,NaN,122.9,6589,01FL,small_airport,Cedar Knoll Flying Ranch Airport,...,US,US-FL,Geneva,no,01FL,NaN,01FL,NaN,NaN,NaN
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.8,6589,01FL,small_airport,Cedar Knoll Flying Ranch Airport,...,US,US-FL,Geneva,no,01FL,NaN,01FL,NaN,NaN,NaN

In [119]:
## Concat tow dataframes
pd.concat
([airport_data[airport_data['ident'] == 'KLAX'][['name','municipality']],
airport_data[airport_data.ident == 'KLGB'][['name','municipality']]
])

[                                    name municipality
 33253  Los Angeles International Airport  Los Angeles,
                                        name municipality
 33278  Long Beach Airport (Daugherty Field)   Long Beach]

In [125]:
### Update record
airport_data.loc[airport_data.ident == 'KLAX','name'] = "LAIA"

In [127]:
## Drop rows or colums
airport_data.drop(airport_data[airport_data.type == 'small_airport'].index)
airport_data[airport_data.type != 'small_airport']

airport_data.drop(['type','ident'],axis=1)

,id,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66528,32753,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang",no,ZYYY,NaN,NaN,NaN,NaN,NaN
66529,46378,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
66530,307326,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
66531,342102,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,ZZZW,ZYW,YK96,NaN,NaN,NaN
66532,313629,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"

In [130]:
## Creating new column , conditional column
airport_data['new_col'] = "new_data"
airport_data['new_col2'] =  airport_data['elevation_ft'].apply(lambda x : 'high' if x > 1000 else 'low')

In [138]:
### Imputation
airport_data.continent.isna().sum()
print(airport_data.continent.unique())
airport_data.continent.fillna("Other",inplace=True)
print(airport_data.continent.unique())

[nan 'OC' 'AF' 'AN' 'EU' 'AS' 'SA']
['Other' 'OC' 'AF' 'AN' 'EU' 'AS' 'SA']

In [142]:
airport_data.elevation_ft.interpolate(method = 'linear',limit_direction='forward',inplace=True)

In [143]:
## Cummulative sum and lag or lead
airport_data.elevation_ft.cumsum()

0              11.0
1            3446.0
2            3896.0
3            4716.0
4            4953.0
            ...
66528    79909288.0
66529    79909328.0
66530    79909339.0
66531    79909343.0
66532    79909681.0
Name: elevation_ft, Length: 66533, dtype: float64

In [144]:
airport_data.elevation_ft.shift(periods = 1)

0                NaN
1          11.000000
2        3435.000000
3         450.000000
4         820.000000
            ...
66528     429.333333
66529     234.666667
66530      40.000000
66531      11.000000
66532       4.000000
Name: elevation_ft, Length: 66533, dtype: float64